Repository SiMDE-Projects/terraform, pull requests merged in 2021-04, with the labels that each got.

#37 thomas D. added to members
  discord_simde/members.tf
Labels: To Apply

#38 Added Nasser C. to integ, lint + Mael B. changed his username
  discord_simde/members.tf
Labels: Applied, discord_member

#39 Added Thibaud as Flairsou member
  discord_simde/members.tf
  github/users.tf
Labels: Applied, discord_member, github, github_user

#40 Add flairsou-api repository
  github/repositories/flairsou.tf
Labels: github, repository
