Repository SiMDE-Projects/terraform, pull requests merged in 2021-01, with the labels that each got.

#15 Added Romain + adds Zapier bot integration + modify flairsou gh team permissions
  .github/workflows/workflow.yaml
  discord_simde/members.tf
  discord_simde/permissions.tf
  discord_simde/roles.tf
  github/providers.tf
  github/teams.tf
  github/users.tf
Labels: Applied

#16 Import old organization
  .github/labeler.yml
  .github/workflows/workflow.yaml
  github/providers.tf
  github/repositories.tf
  github/teams.tf
  github/users.tf
  github/variables.tf
  main.tf
  variables.tf
Labels: Applied, github, github_user, repository, teams

#17 Ajout cannal et rôle
  discord_simde/channels.tf
  discord_simde/members.tf
  discord_simde/roles.tf
Labels: discord_member, roles
