Repository SiMDE-Projects/terraform, pull requests merged in 2021-02, with the labels that each got.

#18 Added Mathis as member
  discord_simde/members.tf
Labels: To Apply, discord_member

#19 Cesar/added rayan doudesh+upgrade noe as admin
  discord_simde/members.tf
  github/users.tf
Labels: Applied, discord_member, github, github_user

#20 Fixed Mathias name
  discord_simde/members.tf
Labels: discord_member

#21 Added pascal as member
  discord_simde/members.tf
Labels: Applied, discord_member

#22 Added Pierre as member
  discord_simde/members.tf
Labels: To Apply, discord_member

#23 Add channel BDE
  discord_simde/channels.tf
  discord_simde/custom_permissions.tf
  discord_simde/members.tf
  discord_simde/roles.tf
Labels: Applied, discord_member, roles

#24 Added "Honorable Curieux" role
  discord_simde/custom_permissions.tf
  discord_simde/roles.tf
Labels: Applied, roles

#25 Jdamembers
  discord_simde/channels.tf
  discord_simde/custom_permissions.tf
  discord_simde/members.tf
  discord_simde/roles.tf
Labels: Applied, discord_member, roles
