Repository SiMDE-Projects/terraform, pull requests merged in 2022-07, with the labels that each got.

#100 Adds A.Rolland to Pacha role
  discord_simde/channels.tf
  discord_simde/custom_channels.tf
  discord_simde/custom_permissions.tf
  discord_simde/members.tf
  discord_simde/roles.tf
Labels: discord_member, roles, discord

#94 is the portail role missing?
  discord_simde/roles.tf
Labels: roles, discord

#95 give portail role to r01
  discord_simde/members.tf
Labels: discord_member, discord
