Repository SiMDE-Projects/terraform, pull requests merged in 2022-09, with the labels that each got.

#106 Ajout de Lysandre aux membres
  discord_simde/members.tf
Labels: discord_member, discord

#107 Ajout de Tom Jumel et Louis Levasseur
  discord_simde/members.tf
Labels: discord_member, discord

#108 ajout d'alexia à la tim payutc et de tom à l'integfev
  discord_simde/members.tf
Labels: discord_member, discord

#109 Creating new Pay'UTC app repo
  github/repositories.tf
  github/repositories/payutc_appli.tf
Labels: To Apply, github, repository

#110 Remove old github payutc team
  github/repositories.tf
  github/teams.tf
  github/users.tf
Labels: github, teams, github_user

#111 Adding new GitHub PayUTC team
  .github/workflows/workflow.yaml
  github/teams.tf
  github/users.tf
Labels: github, teams, github_user
