Repository SiMDE-Projects/terraform, pull requests merged in 2022-03, with the labels that each got.

#73 Add uvweb project
  discord_simde/channels.tf
  discord_simde/custom_permissions.tf
  discord_simde/members.tf
  discord_simde/roles.tf
Labels: discord_member, roles, discord

#74 Adds Marie M. to comet channel
  discord_simde/members.tf
Labels: discord_member, discord

#77 Add C.Bricout to discord
  discord_simde/members.tf
  github/repositories/uvweb.tf
Labels: discord_member, github, discord

#78 UVWeb repo reinitialized
  github/repositories/_outputs.tf
  github/repositories/uvweb.tf
  github/teams.tf
  github/users.tf
Labels: github, teams, github_user

#79 Reset needed review count to 1
  github/repositories/flairsou.tf
Labels: Applied, github

#81 add paco to sparkle on discord
  discord_simde/members.tf
Labels: discord_member, discord

#83 add nicolas sparkle
  discord_simde/members.tf
Labels: discord_member, discord

#80 WIP: +Ambroise discord, étuville, sparkle TODO: user_id
  discord_simde/members.tf
Labels: discord_member, discord

#85 Added Leopold C. to Gesasso team
  github/repositories.tf
  github/users.tf
Labels: Applied, github, repository, github_user

#87 github add Nicolas to Sparkle
  github/users.tf
Labels: github, github_user

#90 add garance to sparkle,etuville + nicolas to etuville
  discord_simde/members.tf
Labels: discord_member, discord

#88 github Sparkle add Paco
  github/users.tf
Labels: github, github_user

#86 add Antoine sparkle curieux
  discord_simde/members.tf
Labels: discord_member, discord

#92 Set strict checks on flairsou repo
  github/repositories/flairsou.tf
Labels: github

#93 Added Gesasso MK Mail deploy key
  .terraform.lock.hcl
  discord_simde/custom_channels.tf
  discord_simde/members.tf
  discord_simde/outputs.tf
  github/outputs.tf
  github/repositories/_outputs.tf
  github/repositories/flairsou.tf
  github/repositories/gesasso_mkmail.tf
  github/repositories/gesasso_mkultra.tf
  main.tf
  outputs.tf
  variables.tf
Labels: discord_member, github, discord
