Repository SiMDE-Projects/terraform, pull requests merged in 2022-02, with the labels that each got.

#65 Adding Sparkle channel to Discord
  discord_simde/channels.tf
  discord_simde/custom_permissions.tf
  discord_simde/member/main.tf
  discord_simde/member/variables.tf
  discord_simde/members.tf
  discord_simde/roles.tf
Labels: discord_member, roles, discord

#66 Added M.Belval to Sparkle discord channel + added GH stuff
  discord_simde/members.tf
  github/repositories/flairsou.tf
  github/repositories/sparkle.tf
  github/teams.tf
  github/users.tf
Labels: discord_member, github, discord, teams, github_user

#67 Adds A.Saint-Marc to discord Integ role
  discord_simde/members.tf
Labels: discord_member, discord

#68 Ajout de Marie Davenne sur Flairsou
  discord_simde/members.tf
  github/users.tf
Labels: discord_member, github, discord, github_user

#70 Adds G.Theunissen to Gesasso GitHub team
  github/repositories/gesasso_mkultra.tf
  github/users.tf
Labels: github, github_user

#71 Passation BDE
  discord_simde/members.tf
Labels: discord_member, discord
