Repository SiMDE-Projects/terraform, pull requests merged in 2023-04, with the labels that each got.

#134 ajout_alexandre
  github/users.tf
Labels: github, github_user

#135 Ajout polar
  discord_simde/channels.tf
  discord_simde/custom_permissions.tf
  discord_simde/members.tf
  discord_simde/roles.tf
Labels: discord_member, roles, discord

#136 fix typo in adrien h team name
  github/users.tf
Labels: github, github_user

#137 Added members to CMP project
  github/users.tf
Labels: github, github_user

#141 ajout alex admin SiMDE
  discord_simde/members.tf
  github/repositories/cues_media_player.tf
  github/users.tf
Labels: discord_member, github, discord, github_user

#132 Ajout des channels, roles, et permissions rhizome + Anthony
  discord_simde/channels.tf
  discord_simde/custom_permissions.tf
  discord_simde/members.tf
  discord_simde/roles.tf
Labels: discord_member, roles, discord
