Repository SiMDE-Projects/terraform, pull requests merged in 2023-03, with the labels that each got.

#118 révisions des droits utilisateurs P23 et ajout droits Alexandru Ghitu
  discord_simde/channels.tf
  discord_simde/custom_permissions.tf
  discord_simde/members.tf
  discord_simde/roles.tf
  github/users.tf
  internal/.terraform.lock.hcl
  internal/database/grants.tf
  internal/providers.tf
  internal/users.tf
Labels: discord_member, github, roles, discord, github_user

#120 Update MySQL admin privileges
  internal/users.tf
Labels: Applied

#121 Added Pumpkin project to GitHub
  github/repositories/pumpkin.tf
  github/teams.tf
  github/users.tf
Labels: To Apply, github, teams, github_user

#122 ajout Lysandre team woolly
  discord_simde/members.tf
Labels: discord_member, discord

#123 ajout role bde à tom jumel
  discord_simde/members.tf
Labels: discord_member, discord

#126 ajout mael pumpkin
  discord_simde/members.tf
  github/users.tf
Labels: discord_member, github, discord, github_user

#127 cleaning and adjusting rights
  discord_simde/members.tf
  internal/users.tf
Labels: discord_member, discord

#128 Removed orphaned discord user resource
  discord_simde/members.tf
Labels: To Apply, discord_member, discord

#130 ajout nouveaux sur le discord
  discord_simde/members.tf
  internal/users.tf
Labels: discord_member, discord
